body{
    margin-top:40px;
}
.error {
    color: red;
}
form {
    /*width: 300px*/
}
.label{

    color: #000000;
}
.select-container{
     float:right;
    clear:both;   
}
input {
    float:right;
    clear:both;
}
.totalprice{
     float:right;
    clear:both;   
}

.row .creditcard{
      float:right;
        clear:both;  
        box-shadow: inset 0 0 0 1px red ;
}
/*
* { box-shadow: inset 0 0 0 1px red }
*/