<form role="form" class="inline">
    <div class="checkout">
        <h1><i class="fa fa-credit-card"></i>Payment</h1>

        <div class="col-md-4">
            <div class="credit-card-input form-group">
                <div class="label">Credit Card Number:</div>
                <input type="text" ng-model="stripeToken.number" />
            </div>
            <div class="credit-card-expires form-group">
                <div class="label">Credit Card Exp.:</div>
                <div class="select-container">
                    <select ng-options="option.name for option in months.monthOptions" ng-model="months.selectedOption"></select> /
                    <select ng-options="option.name for option in years.yearOptions" ng-model="years.selectedOption"></select>
                </div>
            </div>
            <div class="credit-card-cvc form-group">
                <div class="label">CVC:</div>
                <input type="text" ng-model="stripeToken.cvc" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button class="btn btn-default " ng-click="checkout()">
                    Check Out
                </button>
                <div class="error checkout-error msg" ng-show="error">
                    {{error}}
                </div>
                <div class="error checkout-error chargeid" ng-show="error">
                    Charge: {{charge}}
                </div>
                <div class="error checkout-error requestid" ng-show="error">
                    Request: {{request}}
                </div>
                <div class="checkout-success" ng-show="checkedOut">
                    Checked out successfully!
                </div>
                <div>{{checkout.response}}</div>
            </div>
        </div>
    </div>
</div>