<form role="form" class="inline">
    <div class="confirm cart-customer col-md-6">
        <div class="customer name form-group"><div class="label">Name: </div><input class="address" type="text" ng-model="customer.name"></div>
        <div class="customer address line1 form-group"><div class="label">Address Line 1: </div><input class="address"  type="text" ng-model="customer.address_line1"></div>
        <div class="customer address line2 form-group"><div class="label">Address Line 2: </div><input class="address"  type="text" ng-model="customer.address_line2"></div>
        <div class="customer address city form-group"><div class="label">City: </div><input class="address"  type="text" ng-model="customer.address_city"></div>
        <div class="customer address state form-group"><div class="label">State: </div><input class="address" type="text" ng-model="customer.address_state"></div>
        <div class="customer address zip form-group"><div class="label">Postal Code: </div><input class="address" type="text" ng-model="customer.address_zip"></div>
        <div class="customer address country form-group"><div class="label">Country: </div><input class="address" type="text" ng-model="customer.address_country"></div>   

       
        
        <!--
        <div class="price form-group"><div class="label">Price per item:</div><div class="totalprice">{{cart.data.price /100 | currency}}</div>
        <div class="form-group"><div class="totalprice">{{cart.data.totalprice/100 | currency}}</div>
        -->
    
    <!--<button class="btn btn-default col-md-2" ng-click="update()">Update Price</button>-->
    </div>
    <div class="col-md-6">
        <div class="quantity form-group"><div class="label">Donation:</div>
        <div class="select-container">
            <select 
                ng-options="option.name for option in donations.donationOptions"
      ng-model="donations.selectedOption"></select></div>
        
        </div>
    <button class="btn btn-default col-md-2" ng-click="confirm()">Confirm</button>
    <div>{{stripe_token}}</div></div>
    </div>
</form>
